# Place les routines de portage en RAM basse Apple-1 ($9900..$9950).
MEMORY {
    PORT: start = $9900, size = $0051, file = %O, fill = yes, fillval = $00;
}
SEGMENTS {
    PORT: load = PORT, type = ro;
}
