# cc65 linker config for TMS_Vague as a DevBench CodeTank program.

MEMORY {
    ZP:    start = $0000, size = $0020, type = rw, define = yes;
    CODE:  start = $4000, size = $3F80, type = ro, define = yes, file = %O;
    BSS:   start = $0F80, size = $0080, type = rw, define = yes;
}

SEGMENTS {
    ZEROPAGE: load = ZP,   type = zp;
    CODE:     load = CODE, type = ro;
    BSS:      load = BSS,  type = bss;
}
